.stepper-div {
    width: 500px;
}

@media only screen and (max-width: 280px) {
    .stepper-div {
        width: 200px;
    }
}

@media only screen and (max-width: 200px) {
    .stepper-div {
        width: 150px;
    }
}

@media only screen and (max-width: 150px) {
    .stepper-div {
        width: 100px;
    }
}

@media only screen and (max-width: 100px) {
    .stepper-div {
        width: 70px;
    }
}